.weather {
   margin: 0 30px;
   box-shadow: 0px 0px 20px rgb(190, 190, 190);
   border-radius: 20px 20px 0px 0px;
}

.weather__header {
   background: rgb(56, 145, 228);
   color: #fff;
   text-align: center;
   padding: 15px;
   border-radius: 20px 20px 0px 0px;
   
}

.weather__title {
   margin: 0;
}

.weather__body {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   background: rgb(248, 248, 248);
   padding: 10px 70px;
}

.weather__item {
   margin: 10px 0;
   flex: 0 0 100px;
   display: flex;
   flex-direction: column;
   text-align: center;
}

.weather__item-header{
   font-weight: bold;
   border-bottom: 1px solid rgb(116, 222, 255);
   padding: 5px;
   color: rgb(66, 66, 66);
}

.weather__item-footer{
   color: rgb(66, 66, 66);
}